header {
    overflow: hidden;
}

.hero .slick-arrow {
  position: absolute;
  top: 50%;
  background: url(images/arrow.png) center no-repeat;
  background-color: rgba(255,255,255,0.7);
  width: 41px;
  height: 41px;
  text-indent: -10000px;
  z-index: 2;
  margin-top: -21px;
  cursor: pointer;
}

.hero .slick-arrow.slick-next {
  transform: rotate(180deg);
}

.section_quick_link h2 {
  text-align: center;
  margin-bottom: 50px;
}

.section_quick_link .hero {
  position: relative;
}

.section_quick_link .hero .hero-slider a:hover span {
  color: #033a71;
}

.section_quick_link .hero .slick-arrow.slick-next {
    right: 1rem;
  }
  
  .section_quick_link .hero .slick-arrow.slick-prev {
    left: 1rem;
  }

/* Media Queries */

@media (max-width: 768px) {
  .section_quick_link .hero .hero-slider a {
    padding-top: 0.8rem;
  }

  .section_quick_link .hero .hero-slider a span {
    font-size: 20px;
    margin-top: 0.5rem;
  }

  .hero .slick-arrow {
    height: 50px;
    width: 50px;
  }
}

.hero .hero-slider img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: top center;
}